<%= turbo_frame_tag reservation do %>
  <div class="card-body d-flex shadow mt-2 px-4 py-2 align-items-center rounded justify-content-between">
    <div class="col">
      <%= reservation.id %>
    </div>
    <div class="col">
      <%= reservation.booking_date.strftime('%b %d')%>
    </div>
    <div class="col-2 d-flex gap-2 justify-content-end">
      <%= button_to restaurant_reservation_path(@restaurant, reservation), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-light" do %>
      <i class="bi bi-trash"></i>
      <% end %>
      <%= link_to edit_restaurant_reservation_path(@restaurant, reservation), data: { turbo_frame: "remote_modal" }, class: "btn btn-light" do %>
      <i class="bi bi-pencil-square"></i>
      <% end %>
    </div>
  </div>
<% end %>
