<%= simple_form_for restaurant do |f| %>
  <% if restaurant.errors.any? %>
    <div class="alert alert-warning">
      <%= restaurant.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= f.input :description %>
  <%= f.input :city %>
  <%= f.input :address %>

  <label>Photo</label>
  <%= image_tag(restaurant.photo_url, class: "img-fluid rounded-circle mb-3 img-thumbnail shadow-sm") if restaurant.photo? %>
  <%= f.file_field :photo, accept: 'image/jpeg,image/gif,image/png', class: 'form-control' %>

  <%= f.submit class: "btn btn-success mt-2" %>
<% end %>
