<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantReservation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <div id="flash" class="flash">
        <%= render "layouts/flash" %>
      </div>
      <%= yield %>

      <!-- Remote Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
        data-controller="modal"
        data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <%= turbo_frame_tag "remote_modal" %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
